<!DOCTYPE html>
<html lang="en">
    <!--head-->
    <%- include ('partials/head.html')%>
  <body>
        <!--menú de navegación-->
        <%- include ('partials/navigation.html')%>



        <!-- Productos destacados -->
        <div class="galeria">
          <h1>Nuestros productos</h1>
          <div class="linea"></div>
          <div class="contenedor-imagenes">
              <div class="imagen">
                  <img src="img/257_261.jpg" alt="Materas">
                  <div class="overlay">
                      <h2>Materas</h2>
                  </div>
              </div>
              <div class="imagen">
                  <img src="img/1347.png" alt="Sillas">
                  <div class="overlay">
                      <h2>Sillas</h2>
                  </div>
              </div>
              <div class="imagen">
                  <img src="img/WA0032.jpg" alt="Sillones">
                  <div class="overlay">
                      <h2>Sillones</h2>
                  </div>
              </div>
              <div class="imagen">
                  <img src="img/4324.png" alt="Sillones">
                  <div class="overlay">
                      <h2>Sillones</h2>
                  </div>
              </div>
              <div class="imagen">
                  <img src="img/90000.png" alt="Sillones">
                  <div class="overlay">
                      <h2>Sillones</h2>
                  </div>
              </div>
              <div class="imagen">
                  <img src="img/60908.png" alt="Respaldos">
                  <div class="overlay">
                      <h2>Respaldos</h2>
                  </div>
              </div>
            
              <!-- <div class="imagen">
                  <img src="img/1 (2).jpg" alt="">
              </div> -->
          </div>
      </div>









        <!-- WhatsApp -->
        <%- include ('partials/whatsApp.html')%>

        <!-- footer + script-->
        <%- include ('partials/footerScript.html')%>
  </body>
</html>