<header>
  <div class="header-content">
      <div class="logo">
          <h1>Sillones<b>FB</b></h1>
      </div>
      <div class="menu" id="show-menu">
          <nav>
              <ul>
                  <li class="menu-select"><a href="/" class="text-select"><i class="fas fa-home"></i>Inicio</a></li>
                  <li class="menu-select"><a href="/productos" class="text-select"><i class="fas fa-circle"></i>productos</a></li>
                  <li class="menu-select"><a href="como-llegar" class="text-select"><i class="fas fa-circle"></i>¿Como llegar?</a></li>
                  <li class="menu-select"><a href="contactos" class="text-select"><i class="fas fa-circle"></i>contactos</a></li>
              </ul>                   
          </nav>

      </div>

      <!-- <div id="ctn-icon-search">
          <i class="fas fa-search" id="icon-search"></i>
      </div> -->

  </div>
          <div id="icon-menu">
              <i class="fas fa-bars"></i>
          </div>
          
</header>

<div class="container-all" id="move-content">
    <div class="container-cover">
        <div class="container-info-cover">
            <h1 class=""></h1>
            <p></p>
        </div>
        
      
      </div>
    </div> 

<!-- <div id="ctn-bars-search">
  <input type="text" id="inputSearch" placeholder="¿Que deseas buscar?">
</div>

<ul id="box-search">
  <li><a href="#"><i class="fas fa-search"></i>materas</a></li>
  <li><a href="#"><i class="fas fa-search"></i>sillones</a></li>
  <li><a href="#"><i class="fas fa-search"></i>esquineros</a></li>
</ul>


<div id="cover-ctn-search"></div> -->





